<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="bucci.dev.freestyle" >

    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/bft_icon"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="bucci.dev.freestyle.StartActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="bucci.dev.freestyle.TimerActivity"
            android:label="@string/app_name"
            android:parentActivityName=".StartActivity"
            >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="bucci.dev.freestyle.StartActivity" />

        </activity>

        <service
            android:name="bucci.dev.freestyle.TimerService"
            >
        </service>
    </application>

</manifest>
